$primary-color: #06425a;
$secondary-color: #fff;
$info-color: #5cdb95;
$overlay: rgba(0, 0, 0, 0.8);
$mainFontSize: 2rem;
$transitionTime: 2s;
$text-dark: #333;
$headingFont: Arial, Helvetica, sans-serif;
$loginHeading: 'Lobster', cursive;
$opacity: 0.7;
$google-btn: #4285f4;
$hover-btn: #5992ec;
